[elasticsearch-{{ elasticsearch_version }}]
name=Elasticsearch repository for {{ elasticsearch_version }}.x packages
baseurl=http://packages.elasticsearch.org/elasticsearch/{{ elasticsearch_version }}/centos
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/GPG-KEY-elasticsearch
enabled=1
